.content
  .infomation-box
    .notice
  .left-content
    = render 'shared/side_bar'
  .right-content
    .right-content__header
      .right-content__header__group
        %p.right-content__header__group__name test-group
        %p.right-content__header__group__index member:yuta
      = link_to 'Edit',"",class: "right-content__header__edit"
    .right-content__messages
      = render "message"
    .input-form
      .form
        = form_for [@group, @message], html: { id: 'message-form' } do |f|
          .input-box
            = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
            = f.label :image, class: 'input-box__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'input-box__image__input'
          = f.submit 'Send', class: 'input-submit'


