.content
  .infomation-box
    .notice
  = render partial: 'shared/side_bar'
  .right-content
    .right-content__header
      .right-content__header__group
        %p.right-content__header__group__name 
          = @group.name
        .right-content__header__group__index
          %ul.right-content__header__group__index__member-lists
            %li.right-content__header__group__index__member-lists__title member :
            - @group.users.each do |user|
              %li.right-content__header__group__index__member-lists__member= user.name
              
      = link_to 'Edit', "/groups/#{@group.id}/edit", class: "right-content__header__edit"
    .right-content__messages
      = render @messages
    .input-form
      = form_for [@group, @message], html: { id: 'message-form' } do |f|
        .input-box
          = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = f.file_field :image, class: 'input-box__image__input'
            = fa_icon 'picture-o', class: 'icon'
        = f.submit 'Send', class: 'input-submit'


