.content
  .left-content
    = render "shared/side_bar"
  .right-content
    .right-content__header
      .right-content__header__group
        %p.right-content__header__group__name test-group
        %p.right-content__header__group__index member:yuta
      = link_to 'Edit',"",class: "right-content__header__edit"
    .right-content__messages
      = render @messages
    .input-form
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'


